@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@500&family=Roboto:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}
[alt*="phone"] {
  max-width: 80%;
}

[alt="logo"] {
  width: 120px;
}

header li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #252b42;
  font-weight: 600;
  font-size: 1.6rem;
}
nav ul li a {
  margin-right: 5rem;
}
nav ul li a:hover {
  text-decoration: underline;
  transition: all 1s;
}
.bars {
  width: 30px;
  height: 30px;
  /* background-color: rebeccapurple; */
  position: fixed;
  top: 25px;
  right: 100px;
  /* z-index: 10; */
  cursor: pointer;
  display: none;
}
.bars .line {
  width: 100%;
  height: 3px;
  background-color: black;
  margin: 5px 0;
  transition: all 1s;
}

.show .line1 {
  transform: rotate(45deg);
}
.show .line2 {
  opacity: 0;
}
.show .line3 {
  transform: rotate(-45deg);
}
.show {
  right: 0;
}

.banner-section a {
  margin-right: 3rem;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
header ul {
  display: flex;
  justify-content: space-between;
}
header {
  position: fixed;
  z-index: 1;
  background-color: white;
  width: 100%;
}

.banner-section {
  background: url("https://res.cloudinary.com/akogwu/image/upload/v1613505884/banner_tdvlv7.svg");
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
}
.banner-section h4 {
  padding: 60px 0 10px 0;
  font-size: 2rem;
  color: white;
}
.banner-section h1 {
  font-family: "Poppins", sans-serif;
  font-size: 4rem;
  max-width: 640px;
  margin: 0 auto 10px;
}

.banner-section .wrapper p {
  margin-bottom: 30px;
  font-size: 1.5rem;
  color: white;
  text-align: center;
}

.banner-section a {
  background: #fa4a0c;
  padding: 10px 40px;
  color: white;
  border-radius: 30px;
}
.base-banner a:hover,
.banner-section a:hover {
  background-color: #de8a6b;
  transition: all 1s;
}
.banner-section a + a {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}
.banner-text {
  padding-top: 8%;
}
.double-phone img {
  max-width: 100%;
  min-width: 10%;
  margin: 0 auto;
  display: block;
  position: relative;
}

.double-phone {
  max-width: 100%;
  position: absolute;
  top: 58%;
  left: 33%;
}

.double-phone h3::before {
  content: "";
  max-width: 100%;
  display: block;
  margin: -20% auto 0;
  border-bottom: 2px solid #e4e4e4;
}

.double-phone h3 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
}

.create-account-container {
  margin-top: 50rem;
}
.create-account-container,
.explore-container,
.checkout-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 60px 0;
}

/* style all h4 element together */
.create-account-text h4,
.explore-container h4,
.checkout-container h4 {
  color: #fa4a0c;
  font-size: 2rem;
  margin: 10px 0;
}
/* styled all h3 at once */
.create-account-text h3,
.explore-container h3,
.checkout-container h3 {
  font-size: 2.5rem;
  margin: 5px 0 10px 0;
  font-weight: bold;
  max-width: 400px;
}

/* styling all paragraph at once */
.create-account-text p,
.explore-container p,
.checkout-container p {
  color: black;
  font-size: 1.5rem;
  max-width: 300px;
}

.explore-container {
  margin-left: 7rem;
}
.checkout-container {
  margin-bottom: 30px;
}

.base-banner {
  background: url("https://res.cloudinary.com/akogwu/image/upload/v1613505895/base_banner_rsotl8.svg");
  height: 55vh;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.base-text {
  text-align: center;
}
.base-text h2 {
  font-size: 3rem;
  padding: 8% 0 3% 0;
}
.base-text p {
  font-size: 1.7rem;
  margin-bottom: 5%;
}
.base-text a {
  background-color: #fa4a0c;
  padding: 10px 30px;
  color: white;
  font-size: 1.3rem;
  border-radius: 5px;
}
.base-text a + a {
  background-color: transparent;
  border: 1px solid white;
}
.base-banner a {
  margin: 0 3px;
}
footer .footer-icons a {
  margin-right: 20px;
}

footer .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10px;
  margin-top: 20px;
}
footer small {
  color: rgb(0, 0, 0);
  font: 1.1rem "Roboto", sans-serif;
}

.show-mobile {
  display: none;
}
/* Responsive styling */
